@using Microsoft.Owin.Security
@model HelloGram.Core.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "_Shared.cshtml";
}
<!-- Page content -->
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-7">
            <div class="card bg-secondary shadow border-0">
                @*<div class="card-header bg-transparent pb-5">
                    <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
                    <div class="btn-wrapper text-center">
                        @using (Html.BeginForm("ExternalLogin", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class="d-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <button href="/" class="btn btn-neutral btn-icon social-btn" name="provider" value="@Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList().FirstOrDefault().AuthenticationType">
                                <span class="btn-inner--icon"><img src="/Content/Images/facebook.svg" alt="Facebook"></span>
                                <span class="btn-inner--text">Facebook</span>
                            </button>
                        }
                        @using (Html.BeginForm("ExternalLogin", "Account", new { provider = "facebook", returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "d-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="/" class="btn btn-neutral btn-icon social-btn">
                                <span class="btn-inner--icon"><img src="/Content/Images/twitter.svg" alt="Twitter"></span>
                                <span class="btn-inner--text">Twitter</span>
                            </a>
                        }
                    </div>
                </div>*@
                <div class="card-body px-lg-5 py-lg-5">
                    @*<div class="text-center text-muted mb-4">
                        <small>Or sign in with credentials</small>
                    </div>*@
                    <div class="text-center text-muted mb-4">
                        <small>Sign in with your credentials</small>
                    </div>
                    @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder="Email" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation-error text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", placeholder="Password" })
                            </div>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation-error text-danger" })
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "validation-error text-danger" })
                        <div class="custom-control custom-control-alternative custom-checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class="custom-control-input", type="checkbox" })
                            @Html.LabelFor(m => m.RememberMe, new { @class="custom-control-label" })
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-4">Sign in</button>
                        </div>
                    }
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="@Url.Action("ForgotPassword", "Account")" class="text-light"><small>Forgot password?</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="@Url.Action("Register", "Account")" class="text-light"><small>Create new account</small></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}