@model IEnumerable<HelloGram.Core.ViewModels.FileViewModel>


@foreach (var file in Model)
{
    <li class="list-group-item py-6">
        <div class="media">
            <div class="icon-shape bg-primary text-white mr-5">
                <i class="fe-paperclip"></i>
            </div>
            <div class="media-body align-self-center overflow-hidden">
                <h6 class="text-truncate mb-0">
                    <a href="/Content/Messenger/Attachments/@file.Attachment" target="_blank" class="text-reset" download="@file.Content" title="@file.Content">@file.Content</a>
                </h6>
                <ul class="list-inline small mb-0">
                    <li class="list-inline-item">
                        <span class="text-muted">@file.AttachmentSize</span>
                    </li>
                </ul>
            </div>
            <div class="align-self-center ml-5">
                <div class="dropdown">
                    <a href="#" class="btn btn-sm btn-ico btn-link text-muted w-auto" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe-more-vertical"></i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item d-flex align-items-center" href="/Content/Messenger/Attachments/@file.Attachment" target="_blank" download="@file.Content">
                            Download <span class="ml-auto fe-download"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </li>
}