

<div class="col-xl-3 col-lg-6">
    <div class="card shadow card-stats mb-4 mb-xl-0">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">@Model.Name</h5>
                    <span class="h2 font-weight-bold mb-0">@Model.Status.Number.ToString("##,##0")</span>
                </div>
                <div class="col-auto">
                    <div class="icon icon-shape @Model.Color text-white rounded-circle shadow">
                        <i class="fas @Model.Icon"></i>
                    </div>
                </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
                @if (!Model.Status.IsTotal)
                {
                    if (Model.Status.State > 0)
                    {
                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> @Model.Status.Percent.ToString("P")</span>
                    }
                    else if (Model.Status.State < 0)
                    {
                        <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> @Model.Status.Percent.ToString("P")</span>
                    }
                    else
                    {
                        <span class="text-body mr-2">- @Model.Status.Percent.ToString("P")</span>
                    }
                    <span class="text-nowrap">Since last month</span>
                }
                else
                {
                    <span class="text-success text-nowrap">In all the time</span>
                }
            </p>
        </div>
    </div>
</div>